@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Recipe Manager</h1>
    <p>A place to create your own yummy and delicious recipes and share them with the world!</p>
</div>
